# Backend
backend/venv/
backend/.env
backend/*.pyc
backend/__pycache__/
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.vscode/
backend/.idea/
backend/*.log

# Frontend
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/pubspec.lock
frontend/.vscode/
frontend/.idea/

# General
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
*.log
